.list-group-item {
  line-height: 2.5;
}

body {
  background-image: linear-gradient(blanchedalmond, rgb(207, 211, 192));
}

#search-list, #ingredient-list {
  border: 1px solid black;
  padding: 5px;
}